<form id="login" action="/action_page.php">
    <div class="mb-3 mt-3">
      <label for="bookid" class="form-label">Book Id:</label>
      <input type="number" class="form-control" id="bookid" placeholder="Enter BookId" name="email">
    </div>
    <div class="mb-3">
      <label for="cname" class="form-label">Customer Name:</label>
      <input type="text" class="form-control" id="cname" placeholder="Enter Name" name="cname">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email Id:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email Id" name="email">
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Date:</label>
        <input type="date" class="form-control" id="date" placeholder="Enter date" name="date">
      </div>
      <div class="mb-3">
        <label for="rdate" class="form-label">Return Date:</label>
        <input type="date" class="form-control" id="date" placeholder="Enter Returndate" name="rdate">
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>